<mat-card>
  <h1 style="color: white; text-align: center">
    Ifjúsági Csendesnapok jelentkezés
  </h1>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field [color]="name.valid ? 'accent' : undefined">
      <mat-label>Név</mat-label>
      <input
        matInput
        formControlName="name"
        type="text"
        placeholder="Név"
        autocomplete="off"
      />
      <mat-error *ngIf="name.invalid && name.dirty">
        A név legalább 6 karakter hosszú legyen!
      </mat-error>
    </mat-form-field>
    <mat-form-field [color]="email.valid ? 'accent' : undefined">
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="email"
        type="email"
        placeholder="Email"
        autocomplete="off"
      />

      <mat-error *ngIf="email.invalid && email.dirty">
        Adjon meg egy valódi email címet!
      </mat-error>
    </mat-form-field>
    <mat-error class="server-error">{{ serverMessage }}</mat-error>
    <div style="display: flex; align-items: center; justify-content: center">
      <button
        mat-raised-button
        color="accent"
        type="submit"
        style="text-align: center"
        (click)="onCheckout()"
        [disabled]="form.invalid"
      >
        Fizetés
      </button>
    </div>
  </form>
</mat-card>
